.header {
    -webkit-text-stroke: dashed 1px background: #ffffff;
    text-shadow: 0px 2px 4px #59adff;
    text-shadow: inset 0px 1px 3px #686868;
    color: #2477bf;
    font-family: 'Segoe UI';
    font-size: 3em;
    font-weight: 400;
    line-height: 112px;
    letter-spacing: -1.5px;
}
