@page "/wtc-settings"
@inject TCDataService TCService
@inject IMessageService MessageService
@attribute [Authorize (Roles = "Admin")]

<EditForm Model=WTC OnValidSubmit=Submit>
<DataAnnotationsValidator/>
<h2 class="mt-2 text-center header">Working tax credit's settings</h2>
<div style="width: 50%; height: 20%; margin: 1% auto auto auto;">
    <table  class="table table-bordered border-2 border-secondary" >
  <tbody>
    <tr>
      <th scope="row">Date</th>
      <td><InputDate @bind-Value=WTC.TaxYear class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">Basic element</th>
      <td><InputNumber @bind-Value=WTC.BasicElement class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">Second adult</th>
      <td><InputNumber @bind-Value=WTC.SecondAdult class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">Thirty hour element</th>
      <td><InputNumber @bind-Value=WTC.ThirtyHourElement class="form-control" style="background-color: transparent"/></td>
    </tr><tr>
      <th scope="row">Threshold</th>
      <td><InputNumber @bind-Value=WTC.Threshold class="form-control" style="background-color: transparent"/></td>
    </tr><tr>
      <th scope="row">Withdrawel rate</th>
      <td><InputNumber @bind-Value=WTC.WithdrawalRate class="form-control" style="background-color: transparent"/></td>
    </tr>
  </tbody>
</table>
<ValidationSummary/>
<div style="display: flex; justify-content: right; ">
<button class="btn btn-primary form-control mt-4" >Submit</button>
</div>
</div>
</EditForm>

@code {
    public IncomeCalculator.Shared.DTO.WorkingTaxCredit WTC { get; set; } = new ();
    public async void Submit()
    {
        await TCService.AddWTCData(WTC);
        WTC = new ();
    }

}
