@page "/ctc-settings" 
@inject IMessageService MessageService
@inject IJSRuntime JSRuntime
@inject TCDataService TCService
@attribute [Authorize (Roles = "Admin")]

<EditForm Model=CTC OnValidSubmit=Submit>
<DataAnnotationsValidator/>
<h2 class="mt-5 text-center header">Child tax credit's settings</h2>
<div style="width: 50%; height: 20%; margin: 1% auto auto auto;">
    <table  class="table table-bordered border-2 border-secondary" >
  <tbody>
    <tr>
      <th scope="row">Date</th>
      <td><InputDate @bind-Value=CTC.TaxYear class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">Family element</th>
      <td><InputNumber @bind-Value=CTC.FamilyElement class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">Child element</th>
      <td><InputNumber @bind-Value=CTC.ChildElement class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">Threshold</th>
      <td><InputNumber @bind-Value=CTC.Threshold class="form-control" style="background-color: transparent"/></td>
    </tr><tr>
      <th scope="row">Withdrawal rate</th>
      <td><InputNumber @bind-Value=CTC.WithdrawalRate class="form-control" style="background-color: transparent"/></td>
    </tr>
  </tbody>
</table>
<ValidationSummary/>
<div style="display: flex; justify-content: right; ">
<button class="btn btn-primary form-control mt-4" >Submit</button>
</div>
</div>
</EditForm>

@code {
    public ChildTaxCredit CTC { get; set; } = new ChildTaxCredit();
    public async void Submit()
    {
        await TCService.AddCTCData(CTC);
        CTC = new ChildTaxCredit();
    }

}