<h2 class="text-center header" style="font-size: 35px;">Work Details of @Parent</h2>
<EditForm Model="@WorkDetails" class="p-3">
	 <WorkInfo OnDetailsChange=UpdateDetails ></WorkInfo>
</EditForm>

@code {
	[Parameter]
	public string Parent { get; set; }
	public WorkDetails WorkDetails { get; set; }
	[Parameter]
	public Action<WorkDetails> PullUpDetails { get; set; }

	protected override void OnInitialized()
	{
		WorkDetails = new WorkDetails { Period = Period.Year };
	}

	private void UpdateDetails(WorkDetails workDetails)
	{
		PullUpDetails?.Invoke(workDetails);
	}
}

