@inject MinWageService MinWageService;
<h2 class="text-center header mt-4" style="font-size: 35px;">Work Details of @Parent</h2>
<EditForm Model="@WorkDetails" class="p-3">
	 <WorkInfo ChangeDetails=OnDetailsChange ></WorkInfo>
</EditForm>

@code {
	[Parameter]
	public string Parent { get; set; }
	public WorkDetails WorkDetails { get; set; }
	[Parameter]
	public Action<WorkDetails> ChangeDetails { get; set; }

	protected override void OnInitialized()
	{
		WorkDetails = new WorkDetails(MinWageService) { Period = Period.Year };
	}

	private void OnDetailsChange(WorkDetails workDetails)
	{
		ChangeDetails?.Invoke(workDetails);
	}
}

