@page "/"

<style>
	body, html {
		background-color: #91AA9D;
	}
</style>
<PageTitle>About</PageTitle>

@*<div class="d-flex  flex-column mt-5" >
	<div class=" flex-row align-self-center ">
		<h1 mt-5  style="font-family:'Times New Roman', Times, serif; color: white;">App Overview</h1>

		aka.ms/blazor-fluent-ui
	</div>*@

	<div class="d-flex flex-column " style="margin-top: 5%; margin-bottom: 5%; gap: 5em;" >

	<div class=" flex-row w-100  ">
		<div class="card border-dark m-auto " style="background-color: #D1DBBD; width: 35%;">
			<div class="card-body">
				<h6 class="card-subtitle font-weight-bold pb-2">The two main functions of this app are:</h6>
				<ol class="card-text list-group list-group-flush">
					<li class="list-group-item" style="background-color: #D1DBBD">1.<a href="wages">  Wages calculator</a></li>
					<li class="list-group-item" style="background-color: #D1DBBD">2.<a href="family-details">  Benefits calculator</a></li>
				</ol>
			</div>
		</div>
	</div>

	<div class="d-flex flex-row justify-content-center" >
		<div class=" card border-dark  mr-5" style="width: 35%; background-color: #D1DBBD; ">
			<div class="card-body ">
				<h6 class="card-title font-weight-bold"> Wages calculator:</h6>
				<p class="text-justify fs-5 lh-base mt-3">
					This app enable's you to work out what
					is your income in total, per week/month, or per annum. Once you enter the amount of hours and
					the hourly rate, the total would we worked out for you automatically <br />

					There is also an option to check the minimum wage check box, and then it would calculate according
					to the minimum wage in the UK, for your age group.
				</p>
			</div>
		</div>

		<div class=" card border-dark" style="width:35% ;background-color:#D1DBBD;">
			<div class="card-body">
				<h6 class="card-title font-weight-bold">Benefits calculator:</h6>
				<p class="card-text text-justify">
					This App allows you to work out the amount of tax credits 
					one is entitled to, which depend's on the income, and on the size of the family.
				</p>
			</div>
		</div>
	</div>
</div>



