@page "/wages"

<style>
	
	h1 ,h2{
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
	label, text{
		color : #193441;
	}
	.minWage{
		display: none;
	}

</style>

<PageTitle>Wages Calculator</PageTitle>
<h1 class="mb-9  text-center header" >Wages Calculator</h1>

<EditForm Model="@WdModel" class="p-3 ml-1 mr-5" style=" margin-top: 3%">

<DataAnnotationsValidator/>
<WorkInfo WdModel="@WdModel" OnDateChange=ChangeDate></WorkInfo>

<div class="row mb-5 ">
	<div class="col-5 text-right">
			<label class="form-label">Period to calculate</label>
	</div>
	<div class="col-6">
		<InputRadioGroup @bind-Value="WdModel.Period" class="form-control">
			@foreach (var period in (Period[])Enum.GetValues(typeof(Period)))
			{
		        <InputRadio Value="period" />
				<text>&nbsp@(period)&nbsp&nbsp</text>
			}
        </InputRadioGroup>
     </div>
</div>

 <div class="row ">
  <div class="col-12">
   <h2 class="text-center" style="display: @TotalDisplay">@string.Format("Total per {0}: {1:C}",WdModel.Period.ToString(),WdModel.Total)</h2>
  </div>
 </div>

</EditForm>

@code{
	public WorkDetails WdModel { get; private set; }

	public string TotalDisplay
	{
		get
		{
			if (WdModel.Total > 0)
				return "normal";
			else
				return "none";
		}
	}

	protected override void OnInitialized()
	{
		WdModel = new WorkDetails();
	}

	private void ChangeDate(DateTime taxYear)
	{
		WdModel.MinWage.TaxYear = taxYear;
		StateHasChanged();
	}
}
