<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
           <NavLink class="nav-link" href="/" >
                <span ></span> About
            </NavLink>
             <NavLink  class="nav-link" href="wages">
                <span ></span> Wages
            </NavLink>
             <NavLink  class="nav-link" href="family-details" >
                <span ></span> Tax Credit's
            </NavLink>
            
      </div>
      <div class="navbar-nav " style="margin-left: auto;">
           <NavLink class="nav-link"  >
                <span ></span> Settings
            </NavLink>
      </div>
    </div>
  </div>
</nav>

@*<div class="top-row color4 navbar navbar-dark">
    <a class="navbar-brand" href="">Income Calculator</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
       <nav class="flex-column">
        <div class="nav-item px-3" > 
           <NavLink class="nav-link" href="/" >
                <span class="oi oi-home" aria-hidden="true" ></span> About
            </NavLink>
        </div>
        <div class="nav-item px-3"  >
            <NavLink  class="nav-link" href="wages">
                <span class="oi oi-calculator" aria-hidden="true"></span> Wages Calculator
            </NavLink>
        </div>
        <div class="nav-item px-3" >
             <NavLink  class="nav-link" href="family-details" >
                <span class="oi oi-credit-card" aria-hidden="true"></span> Tax Credit Calculater
            </NavLink>
            @*<div class="ml-3" style="display: @_display;" >
            <NavLink  class="nav-link tree-view" href="family-details">
                <span class="oi oi-people "></span>Family Details
            </NavLink>
            <NavLink  class="nav-link tree-view" href="first-parent">
                <span class="oi oi-person"></span>First Parent
            </NavLink>
            <NavLink  class="nav-link tree-view" href="second-parent">
                <span class="oi oi-person"></span>Second Parent 
            </NavLink>
            <NavLink  class="nav-link tree-view" href="result">
                <span class="oi oi-british-pound"></span>Results
            </NavLink>
            </div>
        </div>
       </nav>
</div>*@

@code {
    private bool collapseNavMenu = true;
    private string _display { get; set; } = "none";
    private string _oiImage { get; set; } = "oi oi-expand-down";

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleTreeView(MouseEventArgs e)
    {
        _display = (_display == "none")? "normal": "none";
        _oiImage = (_oiImage == "oi oi-expand-down") ? "oi oi-expand-up" : "oi oi-expand-down";
    }
}
